.DS_Store
**/__pycache__/**
**/.DS_Store
__pycache__/*
backend/google-cloud-sdk/*
google-cloud-sdk-376.0.0-darwin-x86_64.tar.gz
metis-1cc2695cd67f.json

backend/models/conv
backend/models/conv/*
backend/models/fake_model
models/covid_kaggle_answer_from_qa.json

frontend/node_modules
frontend/dist

# local env files
.env.local
.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
